/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* GLOBALES */
:root{
    --blue:hsl(249, 99%, 64%);
    --purple:hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    /* background: linear-gradient(45deg, var(--blue), var(--purple)); */
    --white:hsl(0, 0%, 100%);
    --light-grayish-violet:hsl(270, 3%, 87%);
    --dark-grayish-violet:hsl(279, 6%, 55%);
    --very-dark-violet:hsl(278, 68%, 11%);
    --gradient:linear-gradient(45deg, var(--blue), var(--purple));

    font-size: 6.25%;

    --xl:24rem;
    --lg:22rem;
    --md:17rem;
    --sm:14rem;
    --xs:12rem;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color: white;
    font-size: var(--xs);
}   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* LAYOUT */
main{
    display: grid;
    grid-template-rows: 240rem 1fr;

    width: 100vw;
    height: 98vh;
    min-width: 345rem;
    max-width: 440rem;
}
.left{
    position:relative;
    background-image: url(./images/bg-main-mobile.png);
}
.right{
    display: grid;
    place-items: center center;

    min-height: 460rem;
    max-height: 560rem;
}
/* COMPONENTES */

.left__frontCard, .left__backCard{
    position: absolute;
    height: 170rem;
    width: 320rem;
    right: 20rem;
    top: 30rem;
}
.left__frontCard{
    z-index: 2;
    top: 126rem;
    left: 20rem;
}
.left__backCard{
    z-index: 1;
}
.left__backCardImg, .left__frontCardImg{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.left__cardInfo{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    place-items: end start;
    position: absolute;
    bottom: 25rem;
    left: 25rem;

    width: 270rem;

    color: var(--white);
}
.left__bcardInfo{
    position: absolute;
    top: 75px;
    right: 40px;

    color: var(--white);
    font-size: var(--xs);
    letter-spacing: 1rem;
}

.left__cardIcon{
    position: absolute;
    left: 25rem;
    top: 25rem;
    
    width: 65rem;

}
form{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 50%;
    place-items: center;

    width: 80%;
    height: 60%;
}
.cardholderContainer{
    grid-area:1/1/2/4;
}
.cardnumberContainer{
    grid-area:2/1/3/4;
}
.expdateContainer{
    grid-area:3/1/4/3;
}
.cvcContainer{
    grid-area:3/3/4/4;
}
.btnContainer{
    grid-area:4/1/5/5;
}
.btn{
    width: 100%;
    height: 40rem;

    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--md);

    background-color: var(--very-dark-violet);
    border-radius: 8rem;
    border: none;
}
.dateInputs{
    display: flex;
    justify-content: space-between;

    width: 95%;
}
.dates{
    width: 45%;
}
.boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__inputs{
    height: 40rem;
    padding: 20rem 0rem 20rem 20rem;

    border: 1rem solid var(--light-grayish-violet);
    border-radius: 8rem;
}
.form__inputs::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    color: hsla(279, 6%, 55%, 0.521);
    font-size: var(--md);
}
/* TIPOGRAFIA */
.left__cardNumber{
    font-size: var(--lg);
    grid-area: 1/1/2/3;
}
.left__date{
    place-self: end end;
}
label{
    margin-bottom: 4rem;

    letter-spacing: 2rem;
    color: var(--very-dark-violet);
    font-weight: bold;
}
/* ESTADOS */
.inactive{
    display: none;
}
@media (min-width:440px) and (max-width:1059px) {
    body{
        grid-template-rows: 98% 2%;

        height: 100vh;
        background-color: var(--light-grayish-violet);
    }
    footer{
        height: 2vh;
    }
    main{
        height: fit-content;
    }
    .right{
        background-color: var(--white);
        border-radius: 0 0 20rem 20rem ;
    }
    .left{
        border-radius: 20rem 20rem 0 0;
    }
}
@media (min-width:1060px) {
    /* LAYOUT */
    main{
        grid-template-rows: 1fr;
        grid-template-columns: 30% 70%;
        
        max-width: 100%;
    }
    .right{
        display: block;
        min-height: none;
        max-height: none;
    }
    .left{
        background-image: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    /* COMPONENTES */
    .left__frontCard, .left__backCard{
        top:55%;
        right: -175rem;
        left: auto;
        height: 200rem;
        width: 350rem;
    }
    .left__frontCard{
        top: 25%;
        right: -88rem;
    }
    .left__bcardInfo{
        top: 90rem;
    }
    .cardimages{
        object-fit: fill;
    }
    form{
        margin: 25vh auto auto 35%;
        width:425rem;
        min-height: 340rem;
        max-height: 360rem;
    }
    /* TYPOGRAPHY */
    label{
        font-weight: 500;
    }
}