/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* GLOBALES */
:root{
    --blue:hsl(249, 99%, 64%);
    --purple:hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    /* background: linear-gradient(45deg, var(--blue), var(--purple)); */
    --white:hsl(0, 0%, 100%);
    --light-grayish-violet:hsl(270, 3%, 87%);
    --dark-grayish-violet:hsl(279, 6%, 55%);
    --very-dark-violet:hsl(278, 68%, 11%);
    --gradient:linear-gradient(45deg, var(--blue), var(--purple));

    /* font-size: 6.25%; */

    --xxl:30px;
    --xl:24px;
    --lg:22px;
    --md:17px;
    --sm:14px;
    --xs:12px;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color: white;
    font-size: var(--xs);
}   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* LAYOUT */
main{
    display: grid;
    grid-template-rows: 240px 1fr;

    width: 100vw;
    height: 98vh;
    min-width: 345px;
    max-width: 440px;
}
.left{
    position:relative;
    background-image: url(./images/bg-main-mobile.png);
}
.right{
    display: grid;
    place-items: center center;

    min-height: 460px;
    max-height: 560px;
}
/* COMPONENTES */

.left__frontCard, .left__backCard{
    position: absolute;
    height: 170px;
    width: 320px;
    right: 20px;
    top: 30px;
}
.left__frontCard{
    z-index: 2;
    top: 126px;
    left: 20px;
}
.left__backCard{
    z-index: 1;
}
.left__backCardImg, .left__frontCardImg{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.left__cardInfo{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    place-items: end start;
    position: absolute;
    bottom: 25px;
    left: 25px;

    width: 270px;

    color: var(--white);
}
.left__bcardInfo{
    position: absolute;
    top: 75px;
    right: 40px;

    color: var(--white);
    font-size: var(--xs);
    letter-spacing: 1px;
}

.left__cardIcon{
    position: absolute;
    left: 25px;
    top: 25px;
    
    width: 65px;

}
form{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 50%;
    place-items: center;

    width: 80%;
    height: 60%;
}
.right__thanks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 60%;
}
.cardholderContainer{
    grid-area:1/1/2/4;
}
.cardnumberContainer{
    grid-area:2/1/3/4;
}
.expdateContainer{
    grid-area:3/1/4/3;
}
.cvcContainer{
    grid-area:3/3/4/4;
}
.btnContainer{
    grid-area:4/1/5/5;
}
.btn{
    width: 100%;
    height: 52px;

    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    font-size: var(--md);

    background-color: var(--very-dark-violet);
    border-radius: 8px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color:hsla(278, 68%, 11%, 0.904);
}
.dateInputs{
    display: flex;
    justify-content: space-between;

    width: 95%;
}
.dates{
    width: 45%;
}
.boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__inputs{
    height: 40px;
    padding: 20px 0px 20px 20px;

    border: 1px solid var(--light-grayish-violet);
    border-radius: 8px;
}
.form__inputs::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    color: hsla(279, 6%, 55%, 0.521);
    font-size: var(--md);
}
.form__inputs:hover{
    cursor: pointer;
}
.form__inputs:focus{
    border: 1px solid var(--purple) !important; 
    outline: none;
}
/* TIPOGRAFIA */
.form__error{
    color: var(--red);
}
.left__cardNumber{
    font-size: var(--xl);
    grid-area: 1/1/2/3;
    letter-spacing: 0.2px;
}
.left__date{
    place-self: end end;
}
label{
    margin-bottom: 4px;

    letter-spacing: 2px;
    color: var(--very-dark-violet);
    font-weight: bold;
}
.left__cardName{
    letter-spacing: 1px;
    font-weight: 500;
}
.thanks__title{
    margin:40px 0px 16px 0px;

    font-size: var(--xxl);
    color: var(--very-dark-violet);
}
.thanks__description{
    margin-bottom: 48px;

    font-size: var(--md);
    color: var(--dark-grayish-violet);
}
/* ESTADOS */
.inactive{
    display: none;
}
.modified{
    border: 1px solid var(--red);
}
@media (min-width:440px) and (max-width:1059px) {
    body{
        grid-template-rows: 98% 2%;

        height: 100vh;
        background-color: var(--light-grayish-violet);
    }
    footer{
        height: 2vh;
    }
    main{
        height: fit-content;
    }
    .right{
        background-color: var(--white);
        border-radius: 0 0 20px 20px ;
    }
    .right__thanks{
        width: 80%;
        height: 80%;
    }
    .left{
        border-radius: 20px 20px 0 0;
    }
    .btn{
        height: 52px;
    }
}
@media (min-width:1060px) {
    /* LAYOUT */
    main{
        grid-template-rows: 1fr;
        grid-template-columns: 30% 70%;
        
        max-width: 100%;
    }
    .right{
        display: block;
        min-height: none;
        max-height: none;
    }
    .left{
        background-image: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    /* COMPONENTES */
    .right__thanks{
        margin: 25vh auto auto 35%;
        width:425px;
        min-height: 340px;
        max-height: 360px; 
    }
    .left__frontCard, .left__backCard{
        top:55%;
        right: -175px;
        left: auto;
        height: 200px;
        width: 350px;
    }
    .left__frontCard{
        top: 25%;
        right: -88px;
    }
    .left__bcardInfo{
        top: 90px;
    }
    .cardimages{
        object-fit: fill;
    }
    form{
        margin: 25vh auto auto 35%;
        width:425px;
        min-height: 340px;
        max-height: 360px;
    }
    .left__cardInfo{
        width: 300px;
    }
    /* TYPOGRAPHY */
    .left__cardNumber{
        letter-spacing: 1.7px;
    }
    label{
        font-weight: 500;
    }
}